In [1]:
import mysql.connector as mc

In [11]:
mydb = mc.connect(
    host='localhost',
    user='root',
    password='whitny5963'
)

In [12]:
mycursor = mydb.cursor()

In [13]:
mycursor.execute("show databases;")

In [14]:
for i in mycursor:
    print(i)

('checkpoint_m2',)
('full',)
('henry',)
('henry_checkpoint_m3',)
('information_schema',)
('intelaf',)
('mysql',)
('performance_schema',)
('pi_1',)
('prueba',)
('prueba_python_sql',)
('sakila',)
('smartphones',)
('sys',)
('universidad',)
('world',)

In [15]:
mycursor.execute("use universidad;")

In [16]:
mycursor.execute("show tables;")

In [17]:
for i in mycursor:
    print(i)

('alumno',)
('nota',)

In [18]:
mycursor.execute("select * from alumno;")

In [19]:
mycursor.fetchall()

[(1, 'Luis', 'Lopez', 202201, 'M'),
 (2, 'María', 'Pérez', 202209, 'F'),
 (3, 'Carlos', 'Raúl', 202202, 'M'),
 (4, 'Lisandro', 'González', 202203, 'M'),
 (5, 'Carla', 'Campos', 202207, 'F'),
 (6, 'Laura', 'Linares', 202206, 'F'),
 (7, 'Bety', 'Solís', 202205, 'F'),
 (8, 'Ruben', 'Cáceres', 202208, 'M'),
 (9, 'Raul', 'Yun', 202204, 'M'),
 (10, 'Agustina', 'Weber', 202200, 'F')]

In [20]:
mycursor.execute('SElect * from alumno;')

In [21]:
a = mycursor.fetchall()

In [22]:
for i in a:
    print(i)

(1, 'Luis', 'Lopez', 202201, 'M')
(2, 'María', 'Pérez', 202209, 'F')
(3, 'Carlos', 'Raúl', 202202, 'M')
(4, 'Lisandro', 'González', 202203, 'M')
(5, 'Carla', 'Campos', 202207, 'F')
(6, 'Laura', 'Linares', 202206, 'F')
(7, 'Bety', 'Solís', 202205, 'F')
(8, 'Ruben', 'Cáceres', 202208, 'M')
(9, 'Raul', 'Yun', 202204, 'M')
(10, 'Agustina', 'Weber', 202200, 'F')

In [27]:
def select(tabla):
    mycursor.execute(f"select * from {tabla}")
    return mycursor.fetchall()

In [30]:
select("alumno")

[(1, 'Luis', 'Lopez', 202201, 'M'),
 (2, 'María', 'Pérez', 202209, 'F'),
 (3, 'Carlos', 'Raúl', 202202, 'M'),
 (4, 'Lisandro', 'González', 202203, 'M'),
 (5, 'Carla', 'Campos', 202207, 'F'),
 (6, 'Laura', 'Linares', 202206, 'F'),
 (7, 'Bety', 'Solís', 202205, 'F'),
 (8, 'Ruben', 'Cáceres', 202208, 'M'),
 (9, 'Raul', 'Yun', 202204, 'M'),
 (10, 'Agustina', 'Weber', 202200, 'F')]